
.ftco-services .services-wrap {
  width: 100%;
  padding: 25px;
  border: 1px solid #f7b9bb;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .ftco-services .services-wrap .img {
    height: 600px;
    position: relative;
    z-index: 0; }
    .ftco-services .services-wrap .img:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #f18c8e;
      opacity: 0;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .ftco-services .services-wrap .img .number h3 {
      margin-left: 0;
      font-size: 80px;
      font-weight: 900;
      font-family: "Playfair Display", serif;
      color: #fff;
      -webkit-text-fill-color: #fff;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #f18c8e; }
  .ftco-services .services-wrap .text {
    background: #563b4c;
    width: 85%;
    padding: 0; }
    .ftco-services .services-wrap .text div {
      width: 100%;
      padding: 15px 20px; }
    .ftco-services .services-wrap .text .btn-custom {
      width: calc(100% - 100px);
      background: #47313f; }
      .ftco-services .services-wrap .text .btn-custom a {
        color: #fff;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 1px; }
    .ftco-services .services-wrap .text h3 {
      font-size: 16px;
      margin-bottom: 0;
      font-weight: 600; }
      .ftco-services .services-wrap .text h3 a {
        color: #fff; }
    .ftco-services .services-wrap .text span a {
      color: #fff; }
  .ftco-services .services-wrap:hover, .ftco-services .services-wrap:focus {
    -webkit-box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13); }
    .ftco-services .services-wrap:hover .img:after, .ftco-services .services-wrap:focus .img:after {
      opacity: .5; }

.ftco-booking .one-forth {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 991.98px) {
    .ftco-booking .one-forth {
      width: 100%; } }
  .ftco-booking .one-forth .text {
    width: 100%;
    max-width: 40%;
    position: relative;
    z-index: 0; }
    @media (max-width: 991.98px) {
      .ftco-booking .one-forth .text {
        max-width: 60%; } }
    @media (max-width: 767.98px) {
      .ftco-booking .one-forth .text {
        max-width: 100%; } }
    .ftco-booking .one-forth .text .overlay {
      width: 100%;
      height: 23%;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      background: #563b4c;
      margin-bottom: 0;
      margin-left: -100%;
      opacity: 1; }
      @media (max-width: 1199.98px) {
        .ftco-booking .one-forth .text .overlay {
          display: none; } }

.ftco-booking .one-third {
  width: 62%;
  border: 1px solid #f7b9bb;
  border-right: none;
  padding: 25px;
  padding-right: 0; }
  @media (max-width: 991.98px) {
    .ftco-booking .one-third {
      width: 100%;
      padding-right: 25px;
      border: 1px solid #f7b9bb; } }

.ftco-booking .img {
  height: 500px; }
  @media (max-width: 991.98px) {
    .ftco-booking .img {
      height: 600px; } }

.appointment-wrap {
  text-align: center;
  z-index: 1;
  background: #fff;
  padding: 50px;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 10px 56px -20px rgba(0, 0, 0, 0.13); }
  @media (max-width: 991.98px) {
    .appointment-wrap {
      padding: 30px; } }
  .appointment-wrap h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #563b4c; }
  .appointment-wrap .subheading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #9e728e;
    letter-spacing: 1px; }

.appointment-form .form-group {
  position: relative;
  margin-bottom: 0; }
  .appointment-form .form-group input, .appointment-form .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent !important;
    color: #563b4c !important;
    font-size: 14px;
    padding: 0 !important;
    height: 60px !important;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: 500;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .appointment-form .form-group input option, .appointment-form .form-group select option {
      color: #563b4c; }
    .appointment-form .form-group input::-webkit-input-placeholder, .appointment-form .form-group select::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #563b4c !important; }
    .appointment-form .form-group input::-moz-placeholder, .appointment-form .form-group select::-moz-placeholder {
      /* Firefox 19+ */
      color: #563b4c !important; }
    .appointment-form .form-group input:-ms-input-placeholder, .appointment-form .form-group select:-ms-input-placeholder {
      /* IE 10+ */
      color: #563b4c !important; }
    .appointment-form .form-group input:-moz-placeholder, .appointment-form .form-group select:-moz-placeholder {
      /* Firefox 18- */
      color: #563b4c !important; }
  .appointment-form .form-group .btn-primary {
    display: block;
    background: #f18c8e !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 0;
    padding-right: 0 !important;
    color: #fff !important;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px; }

.appointment-form .icon {
  position: absolute;
  top: 50% !important;
  right: 0;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3); }
  @media (max-width: 767.98px) {
    .appointment-form .icon {
      right: 0; } }
